# Initial Preprocessing of input data

Some of the dataset was available as individual .csv files.  1 per state.  Here we concatenate those files and save 1 file that can be loaded into GitHub

In [1]:
# Import dependencies
import pandas as pd
import numpy as np

## Load a file and see how it looks

In [2]:
# Test loading and processing 1 file
path = "Resources/Education_Welfare_TotalByState/"
filename = "New York.csv"
path_filename = path + filename

state_df = pd.read_csv(path_filename, delimiter=",", header=1)
state_df

,Year,GDP-NY $ million nominal,Population-NY million,Remaining Spending - Total $ million nominal,Unnamed: 4,Education - Total $ million nominal,Unnamed: 6,Welfare - Total $ million nominal,Unnamed: 8,Unemployment - Total $ million nominal,Unnamed: 10
0,1970,112349,18.241,10238.5,a,5576.4,a,2803.9,i,339.6,a
1,1971,119145,18.172,11887.3,a,6543.1,a,3462.4,i,582.4,a
2,1972,127221,18.103,12965.1,a,7686.2,a,4743.4,i,738.1,a
3,1973,136396,18.034,14957,a,7702.1,a,4389.6,i,618.9,a
4,1974,145419,17.965,16891.9,a,8102.2,a,4546.4,i,593.9,a
...,...,...,...,...,...,...,...,...,...,...,...
67,Data Sources for 2026:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,NaN,https://usgovernmentspending.blogspot.com/sear...,State GDP Information,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,Federal:,https://www.govinfo.gov/app/collection/budget/...,"Fed. Budget: Hist. Tables 3.2, 5.1, 7.1",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,State and Local:,https://www.census.gov/programs-surveys/gov-fi...,State and Local Gov. Finances,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,NaN,https://usgovernmentspending.blogspot.com/2011...,'Guesstimated',by projecting the latest change in reported s...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
state_df.columns.tolist()
# use this to filter the columns to load below

['Year',
 'GDP-NY $ million nominal',
 'Population-NY million',
 'Remaining Spending - Total $ million nominal',
 'Unnamed: 4',
 'Education - Total $ million nominal',
 'Unnamed: 6',
 'Welfare - Total $ million nominal',
 'Unnamed: 8',
 'Unemployment - Total $ million nominal',
 'Unnamed: 10']

## Now get 1 file loaded and in the shape needed

In [4]:
# Test loading and processing 1 file
path = "Resources/Education_Welfare_TotalByState/"
filename = "New York.csv"
path_filename = path + filename

#columns_to_load = ['Year','Population-AL million', 'Education - Total $ million nominal','Welfare - Total $ million nominal']
columns_to_load = [0,2,5,7]    # Use column positions if the heading changes from file to file

rows_to_skip_before_header = 1     # default should be 0 if there are no empty rows at the top of the header
rows_to_load = 57      #  use this if the length of data is known/fixed and there are rows at the bottom you need to exclude.

state_df = pd.read_csv(path_filename, delimiter=",", header=rows_to_skip_before_header,
                       usecols=columns_to_load, nrows=rows_to_load)
state_df.columns = ['year','population_million','education_million','welfare_million']

# Add state name
state_name = filename.split(".")[0]   # Assume filename is "statename.csv"
state_df['state'] = state_name

# Reorder columns
state_df = state_df[['year','state','population_million', 'education_million', 'welfare_million']]
state_df

    year     state  population_million  education_million  welfare_million
0   1970  New York              18.241             5576.4           2803.9
1   1971  New York              18.172             6543.1           3462.4
2   1972  New York              18.103             7686.2           4743.4
3   1973  New York              18.034             7702.1           4389.6
4   1974  New York              17.965             8102.2           4546.4
5   1975  New York              17.897             8962.7           5231.2
6   1976  New York              17.828             9339.9           7643.9
7   1977  New York              17.760             9866.4           8169.2
8   1978  New York              17.693            10269.8           7808.9
9   1979  New York              17.625            10734.4           7429.7
10  1980  New York              17.558            11931.5           8569.9
11  1981  New York              17.601            12890.3           9809.9
12  1982  New York              17.644            13631.3          10873.6
13  1983  New York              17.687            14870.0          10667.2
14  1984  New York              17.730            15961.6          12407.8
15  1985  New York              17.773            17249.9          13845.7
16  1986  New York              17.816            18802.3          13628.1
17  1987  New York              17.860            20664.6          14795.1
18  1988  New York              17.903            22144.3          16198.6
19  1989  New York              17.947            24172.0          18178.0
20  1990  New York              17.991            25834.5          20570.1
21  1991  New York              18.087            28215.1          23950.1
22  1992  New York              18.184            28820.9          16024.8
23  1993  New York              18.281            30686.5          17374.8
24  1994  New York              18.379            32114.0          16401.1
25  1995  New York              18.477            33875.6          17480.3
26  1996  New York              18.576            33577.5          16448.3
27  1997  New York              18.675            34695.5          16024.5
28  1998  New York              18.775            36612.0          14310.5
29  1999  New York              18.876            38434.5          14463.2
30  2000  New York              18.998            41399.4          13443.1
31  2001  New York              19.089            45361.9          15012.5
32  2002  New York              19.162            48477.3          17176.9
33  2003  New York              19.231            50247.6          18498.3
34  2004  New York              19.298            52456.3          17736.3
35  2005  New York              19.331            54789.7          17451.2
36  2006  New York              19.357            58262.7          17440.4
37  2007  New York              19.423            61764.6          18835.9
38  2008  New York              19.468            65617.6          19375.6
39  2009  New York              19.542            69903.9          21776.8
40  2010  New York              19.400            71848.3          27933.7
41  2011  New York              19.500            72394.3          27388.4
42  2012  New York              19.574            72675.6          25388.1
43  2013  New York              19.627            75318.6          23268.6
44  2014  New York              19.653            78875.8          21014.7
45  2015  New York              19.657            80630.3          19631.0
46  2016  New York              19.636            83532.6          20190.9
47  2017  New York              19.594            86292.0          21757.7
48  2018  New York              19.544            89262.4          22732.7
49  2019  New York              19.463            78835.7          22292.0
50  2020  New York              19.337            75526.2          22520.6
51  2021  New York              19.211            72857.9          22757.0
52  2022  New York              19.087            71503.7          23113.2
53  2023  New York              18.963            71811.0          23641.3
54  2024  New York              18.840            73905.9          24365.1
55  2025  New York              18.717            77732.3          25289.0
56  2026  New York              18.596            83084.5          26402.3

## If happy make the above code into a function

In [5]:
# Take a path and filename, format to desired and return a DataFrame
def process_state(path, filename, empty_before_header=0):
    path_filename = path + filename

    # arguments
    columns_to_load = [0,2,5,7]    # Use column positions if the heading changes from file to file
    rows_to_skip_before_header = empty_before_header     # default should be 0 if there are no empty rows at the top of the header
    rows_to_load = 57      #  use this if the length of data is known/fixed and there are rows at the bottom you need to exclude.
    
    #read file
    state_df = pd.read_csv(path_filename, delimiter=",", header=rows_to_skip_before_header,
                       usecols=columns_to_load, nrows=rows_to_load)
    state_df.columns = ['year','population_million','education_million','welfare_million']

    # Add state name
    state_name = filename.split(".")[0]   # Assume filename is "statename.csv"
    state_df['state'] = state_name

    # Reorder columns
    state_df = state_df[['year','state','population_million', 'education_million', 'welfare_million']]
    state_df
    
    return state_df

## Iterate through all files in a directory and concatenate

In [6]:
import os
import sys

welfare_education_df = process_state("Resources/","National.education_wellfare_total_1970_2026.csv",0)

path = "Resources/Education_Welfare_TotalByState/"
empty_rows_above_header = 1

for filename in os.listdir(path):
    # print('Process state: '+ filename)
    state_df = process_state(path, filename, empty_rows_above_header)
    welfare_education_df = pd.concat([welfare_education_df, state_df], axis=0, ignore_index=True)

welfare_education_df.tail(20)

      year    state  population_million  education_million  welfare_million
2944  2007  Wyoming               0.523             2060.3            239.4
2945  2008  Wyoming               0.533             2286.7            259.5
2946  2009  Wyoming               0.544             2503.6            342.2
2947  2010  Wyoming               0.565             2505.6            484.0
2948  2011  Wyoming               0.567             2530.4            427.4
2949  2012  Wyoming               0.577             2672.5            381.5
2950  2013  Wyoming               0.583             2647.7            342.6
2951  2014  Wyoming               0.583             2783.0            338.3
2952  2015  Wyoming               0.586             2990.3            319.0
2953  2016  Wyoming               0.585             3181.0            358.8
2954  2017  Wyoming               0.580             3097.3            360.1
2955  2018  Wyoming               0.579             2778.7            339.6
2956  2019  Wyoming               0.580             2836.7            338.9
2957  2020  Wyoming               0.582             2817.2            343.4
2958  2021  Wyoming               0.585             2786.4            346.3
2959  2022  Wyoming               0.587             2759.1            347.9
2960  2023  Wyoming               0.589             2745.8            349.3
2961  2024  Wyoming               0.591             2755.2            351.3
2962  2025  Wyoming               0.594             2793.8            354.9
2963  2026  Wyoming               0.596             2865.6            360.8

## Check some statistics and details

In [7]:
print('---  STATISTICS  ---')
print(welfare_education_df.describe())
print('---  TOTAL NAs  ---')
print(welfare_education_df.isna().sum())
print('---  DTYPES  ---')
print(welfare_education_df.dtypes)
print('---  LIST OF STATES  ---')
print(welfare_education_df['state'].value_counts().count())
print(welfare_education_df['state'].value_counts())

---  STATISTICS  ---
              year  population_million  education_million  welfare_million
count  2964.000000         2964.000000       2.964000e+03     2.964000e+03
mean   1998.000000           10.594938       2.225726e+04     9.389528e+03
std      16.454726           37.865413       1.032112e+05     6.274371e+04
min    1970.000000            0.303000       1.199000e+02     1.280000e+01
25%    1984.000000            1.570750       1.931550e+03     5.900000e+02
50%    1998.000000            3.821500       4.919800e+03     1.313950e+03
75%    2012.000000            6.632750       1.372025e+04     3.561275e+03
max    2026.000000          343.192000       1.533802e+06     1.803767e+06
---  TOTAL NAs  ---
year                  0
state                 0
population_million    0
education_million     0
welfare_million       0
dtype: int64
---  DTYPES  ---
year                    int64
state                  object
population_million    float64
education_million     float64
welfare_million       float64
dtype: object
---  LIST OF STATES  ---
52
Hawaii                  57
New Jersey              57
Maine                   57
Wyoming                 57
New York                57
Washington              57
National                57
Nebraska                57
Florida                 57
North Dakota            57
Connecticut             57
South Dakota            57
Tennessee               57
Alaska                  57
West Virginia           57
Kansas                  57
District of Columbia    57
Mississippi             57
Vermont                 57
Maryland                57
California              57
Missouri                57
Pennsylvania            57
Virginia                57
Indiana                 57
Arizona                 57
Michigan                57
Iowa                    57
Delaware                57
Illinois                57
South Carolina          57
Wisconsin               57
Arkansas                57
North Carolina          57
Nevada                  57
Rhode Island            57
Montana                 57
Oregon                  57
Kentucky                57
Idaho                   57
Ohio                    57
Alabama                 57
Utah                    57
Louisiana               57
New Mexico              57
New Hampshire           57
Colorado                57
Oklahoma                57
Texas                   57
Georgia                 57
Minnesota               57
Massachusetts           57
Name: state, dtype: int64

## Store into a csv,  drop the index when saving

In [8]:
welfare_education_df.to_csv('Resources/welfare_education_1970-2026.csv', index = False, index_label=False)