In [1]:
# Import dependencies
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
file_path = "Unemployment/Alabama_Unemployment_Rate_1976_2020.csv"
df = pd.read_csv(file_path, delimiter=",", header=0)
df

          DATE  LAUST010000000000003A
0   1976-01-01                    6.7
1   1977-01-01                    7.1
2   1978-01-01                    6.4
3   1979-01-01                    7.2
4   1980-01-01                    8.8
5   1981-01-01                   10.7
6   1982-01-01                   14.0
7   1983-01-01                   13.8
8   1984-01-01                   11.3
9   1985-01-01                    9.6
10  1986-01-01                    9.6
11  1987-01-01                    8.2
12  1988-01-01                    7.3
13  1989-01-01                    7.0
14  1990-01-01                    6.8
15  1991-01-01                    7.3
16  1992-01-01                    7.5
17  1993-01-01                    7.2
18  1994-01-01                    6.2
19  1995-01-01                    5.9
20  1996-01-01                    5.2
21  1997-01-01                    4.9
22  1998-01-01                    4.5
23  1999-01-01                    4.7
24  2000-01-01                    4.6
25  2001-01-01                    5.2
26  2002-01-01                    5.9
27  2003-01-01                    6.0
28  2004-01-01                    5.6
29  2005-01-01                    4.4
30  2006-01-01                    4.0
31  2007-01-01                    4.1
32  2008-01-01                    5.8
33  2009-01-01                   10.1
34  2010-01-01                   10.4
35  2011-01-01                    9.6
36  2012-01-01                    8.2
37  2013-01-01                    7.3
38  2014-01-01                    6.7
39  2015-01-01                    6.1
40  2016-01-01                    5.9
41  2017-01-01                    4.6
42  2018-01-01                    3.9
43  2019-01-01                    3.0
44  2020-01-01                    5.9

In [3]:
df["DATE"] = pd.to_datetime(df["DATE"])
df["DATE"]

0    1976-01-01
1    1977-01-01
2    1978-01-01
3    1979-01-01
4    1980-01-01
5    1981-01-01
6    1982-01-01
7    1983-01-01
8    1984-01-01
9    1985-01-01
10   1986-01-01
11   1987-01-01
12   1988-01-01
13   1989-01-01
14   1990-01-01
15   1991-01-01
16   1992-01-01
17   1993-01-01
18   1994-01-01
19   1995-01-01
20   1996-01-01
21   1997-01-01
22   1998-01-01
23   1999-01-01
24   2000-01-01
25   2001-01-01
26   2002-01-01
27   2003-01-01
28   2004-01-01
29   2005-01-01
30   2006-01-01
31   2007-01-01
32   2008-01-01
33   2009-01-01
34   2010-01-01
35   2011-01-01
36   2012-01-01
37   2013-01-01
38   2014-01-01
39   2015-01-01
40   2016-01-01
41   2017-01-01
42   2018-01-01
43   2019-01-01
44   2020-01-01
Name: DATE, dtype: datetime64[ns]

In [4]:
df.dtypes

DATE                     datetime64[ns]
LAUST010000000000003A           float64
dtype: object

In [5]:
# fix date column to be include just the year, change the column header to "Year" and make it the index.
# add the column "State" as the second column, which will hold the state name.
# add the third column "Unemployment rate"
# date_sr = pd.to_datetime(pd.Series("2012-09-02"))
# change_format = date_sr.dt.strftime('%d-%m-%Y')
  
# # Print the formated date
# print(change_format)
# df = df["DATE"]

In [6]:
df.head()

        DATE  LAUST010000000000003A
0 1976-01-01                    6.7
1 1977-01-01                    7.1
2 1978-01-01                    6.4
3 1979-01-01                    7.2
4 1980-01-01                    8.8

In [7]:
df['year']= pd.to_datetime(df['DATE'], errors='coerce').dt.year
df.drop(columns = ['DATE'], inplace = True)
df.head()

   LAUST010000000000003A  year
0                    6.7  1976
1                    7.1  1977
2                    6.4  1978
3                    7.2  1979
4                    8.8  1980

In [8]:
# df['year']= pd.to_datetime(df['DATE'], errors='coerce').dt.year
# df.drop(columns = ['DATE'], inplace = True)
# # df.set_index(df['Year'], inplace = True)
# # df.drop(columns = ['Year'], inplace = True)
# df.head()
# # df.head()

# function to apply to all states for unemployment data

In [9]:
# #Example code
# # Take a path and filename, format to desired and return a DataFrame
# def process_state(path, filename, empty_before_header=0):
#     path_filename = path + filename

#     # arguments
#     columns_to_load = [0,2,5,7]    # Use column positions if the heading changes from file to file
#     rows_to_skip_before_header = empty_before_header     # default should be 0 if there are no empty rows at the top of the header
#     rows_to_load = 57      #  use this if the length of data is known/fixed and there are rows at the bottom you need to exclude.
    
#     #read file
#     state_df = pd.read_csv(path_filename, delimiter=",", header=rows_to_skip_before_header,
#                        usecols=columns_to_load, nrows=rows_to_load)
#     state_df.columns = ['year','population_million','education_million','welfare_million']

#     # Add state name
#     state_name = filename.split(".")[0]   # Assume filename is "statename.csv"
#     state_df['state'] = state_name

#     # Reorder columns
#     state_df = state_df[['year','state','population_million', 'education_million', 'welfare_million']]
#     state_df
    
#     return state_df

In [10]:
# import os
# import sys

# welfare_education_df = process_state("Resources/","National.education_wellfare_total_1970_2026.csv",0)

# path = "Resources/Education_Welfare_TotalByState/"
# empty_rows_above_header = 1

# for filename in os.listdir(path):
#     # print('Process state: '+ filename)
#     state_df = process_state(path, filename, empty_rows_above_header)
#     welfare_education_df = pd.concat([welfare_education_df, state_df], axis=0, ignore_index=True)

# welfare_education_df.tail(20)

In [28]:
def process_unemployment(path, filename):
    # path to individual data file
    path_filename = path + filename
    # read csv into df
    unemp_df = pd.read_csv(path_filename)
    unemp_df.columns=["DATE", "unemployment_rate"]
    # split filename to get the name of the state and add to the column state
    state_name = filename.split('_')[0]
    unemp_df ['state'] = state_name
    print(path_filename)
    # renaming the column name to unemployment_rate
    #unemp_df .rename(index = {1: 'unemployment_rate'})
    print(unemp_df.head(5))
    # formatting the year column to only display year
    unemp_df ['year']= pd.to_datetime(unemp_df['DATE'], errors='coerce').dt.year
    unemp_df .drop(columns = ['DATE'], inplace = True)
    
    return unemp_df

In [33]:
import os
import sys

unemployment_df = process_unemployment("", "National_Unemployment_rate_1976_2020.csv")
path = ('Unemployment/')

for filename in os.listdir(path):
    if filename[0] != ".":
        
        state_df = process_unemployment(path, filename)
        unemployment_df = pd.concat([unemployment_df, state_df], axis = 0, ignore_index = True)
    
    
unemployment_df.head(60)

National_Unemployment_rate_1976_2020.csv
         DATE  unemployment_rate     state
0  1976-01-01           7.786562  National
1  1977-01-01           7.132505  National
2  1978-01-01           6.134198  National
3  1979-01-01           5.923827  National
4  1980-01-01           7.255717  National
Unemployment/Nevada_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate   state
0  1976-01-01                8.9  Nevada
1  1977-01-01                6.8  Nevada
2  1978-01-01                4.4  Nevada
3  1979-01-01                4.9  Nevada
4  1980-01-01                6.3  Nevada
Unemployment/Ohio_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate state
0  1976-01-01                7.8  Ohio
1  1977-01-01                6.5  Ohio
2  1978-01-01                5.5  Ohio
3  1979-01-01                5.9  Ohio
4  1980-01-01                8.3  Ohio
Unemployment/Louisiana_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate      state
0  1976-01-01                6.6  Louisiana
1  1977-01-01                6.9  Louisiana
2  1978-01-01                6.8  Louisiana
3  1979-01-01                6.6  Louisiana
4  1980-01-01                7.0  Louisiana
Unemployment/Wisconsin_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate      state
0  1976-01-01                5.5  Wisconsin
1  1977-01-01                5.0  Wisconsin
2  1978-01-01                4.9  Wisconsin
3  1979-01-01                4.5  Wisconsin
4  1980-01-01                7.3  Wisconsin
Unemployment/Montana_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate    state
0  1976-01-01                5.9  Montana
1  1977-01-01                6.2  Montana
2  1978-01-01                5.6  Montana
3  1979-01-01                5.2  Montana
4  1980-01-01                6.3  Montana
Unemployment/California_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate       state
0  1976-01-01                9.2  California
1  1977-01-01                8.4  California
2  1978-01-01                7.1  California
3  1979-01-01                6.2  California
4  1980-01-01                6.9  California
Unemployment/Idaho_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate  state
0  1976-01-01                5.6  Idaho
1  1977-01-01                5.9  Idaho
2  1978-01-01                5.5  Idaho
3  1979-01-01                5.8  Idaho
4  1980-01-01                7.6  Idaho
Unemployment/New Hampshire_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate          state
0  1976-01-01                6.4  New Hampshire
1  1977-01-01                5.6  New Hampshire
2  1978-01-01                3.8  New Hampshire
3  1979-01-01                3.1  New Hampshire
4  1980-01-01                4.5  New Hampshire
Unemployment/South Dakota_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate         state
0  1976-01-01                3.3  South Dakota
1  1977-01-01                3.4  South Dakota
2  1978-01-01                3.2  South Dakota
3  1979-01-01                3.4  South Dakota
4  1980-01-01                4.7  South Dakota
Unemployment/Alabama_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate    state
0  1976-01-01                6.7  Alabama
1  1977-01-01                7.1  Alabama
2  1978-01-01                6.4  Alabama
3  1979-01-01                7.2  Alabama
4  1980-01-01                8.8  Alabama
Unemployment/Rhode Island_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate         state
0  1976-01-01                8.0  Rhode Island
1  1977-01-01                8.0  Rhode Island
2  1978-01-01                6.3  Rhode Island
3  1979-01-01                6.3  Rhode Island
4  1980-01-01                7.2  Rhode Island
Unemployment/Tennessee_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate      state
0  1976-01-01                6.1  Tennessee
1  1977-01-01                6.3  Tennessee
2  1978-01-01                5.8  Tennessee
3  1979-01-01                5.8  Tennessee
4  1980-01-01                7.2  Tennessee
Unemployment/Hawaii_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate   state
0  1976-01-01                9.2  Hawaii
1  1977-01-01                7.7  Hawaii
2  1978-01-01                6.9  Hawaii
3  1979-01-01                5.7  Hawaii
4  1980-01-01                4.9  Hawaii
Unemployment/Minnesota_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate      state
0  1976-01-01                5.8  Minnesota
1  1977-01-01                5.3  Minnesota
2  1978-01-01                3.9  Minnesota
3  1979-01-01                4.3  Minnesota
4  1980-01-01                5.8  Minnesota
Unemployment/Massachusetts_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate          state
0  1976-01-01                9.8  Massachusetts
1  1977-01-01                7.9  Massachusetts
2  1978-01-01                6.2  Massachusetts
3  1979-01-01                5.5  Massachusetts
4  1980-01-01                5.8  Massachusetts
Unemployment/Washington_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate       state
0  1976-01-01                8.8  Washington
1  1977-01-01                8.4  Washington
2  1978-01-01                6.8  Washington
3  1979-01-01                6.8  Washington
4  1980-01-01                7.9  Washington
Unemployment/Indiana_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate    state
0  1976-01-01                6.1  Indiana
1  1977-01-01                5.8  Indiana
2  1978-01-01                5.6  Indiana
3  1979-01-01                6.4  Indiana
4  1980-01-01                9.7  Indiana
Unemployment/Iowa_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate state
0  1976-01-01                4.1  Iowa
1  1977-01-01                4.0  Iowa
2  1978-01-01                3.9  Iowa
3  1979-01-01                4.2  Iowa
4  1980-01-01                5.9  Iowa
Unemployment/Mississippi_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate        state
0  1976-01-01                6.5  Mississippi
1  1977-01-01                7.2  Mississippi
2  1978-01-01                6.8  Mississippi
3  1979-01-01                5.7  Mississippi
4  1980-01-01                7.4  Mississippi
Unemployment/Vermont_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate    state
0  1976-01-01                8.3  Vermont
1  1977-01-01                7.0  Vermont
2  1978-01-01                5.7  Vermont
3  1979-01-01                5.0  Vermont
4  1980-01-01                5.9  Vermont
Unemployment/West Virginia_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate          state
0  1976-01-01                7.2  West Virginia
1  1977-01-01                6.9  West Virginia
2  1978-01-01                6.3  West Virginia
3  1979-01-01                7.3  West Virginia
4  1980-01-01               10.1  West Virginia
Unemployment/South Carolina_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate           state
0  1976-01-01                7.0  South Carolina
1  1977-01-01                6.8  South Carolina
2  1978-01-01                5.6  South Carolina
3  1979-01-01                5.0  South Carolina
4  1980-01-01                6.7  South Carolina
Unemployment/Kentucky_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate     state
0  1976-01-01                5.5  Kentucky
1  1977-01-01                4.8  Kentucky
2  1978-01-01                5.1  Kentucky
3  1979-01-01                5.5  Kentucky
4  1980-01-01                8.0  Kentucky
Unemployment/Connecticut_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate        state
0  1976-01-01                9.2  Connecticut
1  1977-01-01                7.0  Connecticut
2  1978-01-01                5.3  Connecticut
3  1979-01-01                5.1  Connecticut
4  1980-01-01                5.7  Connecticut
Unemployment/Missouri_Unemployment_Rate_1976-2020.csv
         DATE  unemployment_rate     state
0  1976-01-01                6.2  Missouri
1  1977-01-01                6.0  Missouri
2  1978-01-01                4.9  Missouri
3  1979-01-01                4.8  Missouri
4  1980-01-01                7.2  Missouri
Unemployment/Nebraska_Unemployment_Rate_1976_2020.csv

         DATE  unemployment_rate     state
0  1976-01-01                3.2  Nebraska
1  1977-01-01                3.3  Nebraska
2  1978-01-01                3.0  Nebraska
3  1979-01-01                2.8  Nebraska
4  1980-01-01                3.8  Nebraska
Unemployment/Florida_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate    state
0  1976-01-01                9.3  Florida
1  1977-01-01                8.3  Florida
2  1978-01-01                6.7  Florida
3  1979-01-01                6.0  Florida
4  1980-01-01                6.0  Florida
Unemployment/Utah_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate state
0  1976-01-01                5.6  Utah
1  1977-01-01                5.2  Utah
2  1978-01-01                3.9  Utah
3  1979-01-01                4.4  Utah
4  1980-01-01                6.3  Utah
Unemployment/Oregon_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate   state
0  1976-01-01                9.3  Oregon
1  1977-01-01                7.4  Oregon
2  1978-01-01                6.1  Oregon
3  1979-01-01                6.7  Oregon
4  1980-01-01                8.4  Oregon
Unemployment/Arizona_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate    state
0  1976-01-01                9.8  Arizona
1  1977-01-01                8.4  Arizona
2  1978-01-01                5.9  Arizona
3  1979-01-01                5.1  Arizona
4  1980-01-01                6.6  Arizona
Unemployment/Texas_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate  state
0  1976-01-01                5.8  Texas
1  1977-01-01                5.4  Texas
2  1978-01-01                4.9  Texas
3  1979-01-01                4.4  Texas
4  1980-01-01                5.2  Texas
Unemployment/Michigan_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate     state
0  1976-01-01                9.4  Michigan
1  1977-01-01                8.2  Michigan
2  1978-01-01                7.0  Michigan
3  1979-01-01                7.8  Michigan
4  1980-01-01               12.3  Michigan
Unemployment/Virginia_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate     state
0  1976-01-01                5.9  Virginia
1  1977-01-01                5.5  Virginia
2  1978-01-01                5.3  Virginia
3  1979-01-01                4.7  Virginia
4  1980-01-01                5.1  Virginia
Unemployment/Kansas_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate   state
0  1976-01-01                4.1  Kansas
1  1977-01-01                3.9  Kansas
2  1978-01-01                3.1  Kansas
3  1979-01-01                3.1  Kansas
4  1980-01-01                4.4  Kansas
Unemployment/Maryland_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate     state
0  1976-01-01                6.6  Maryland
1  1977-01-01                6.1  Maryland
2  1978-01-01                5.6  Maryland
3  1979-01-01                5.8  Maryland
4  1980-01-01                6.6  Maryland
Unemployment/Georgia_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate    state
0  1976-01-01                8.2  Georgia
1  1977-01-01                6.9  Georgia
2  1978-01-01                5.7  Georgia
3  1979-01-01                5.1  Georgia
4  1980-01-01                6.3  Georgia
Unemployment/Delaware_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate     state
0  1976-01-01                8.5  Delaware
1  1977-01-01                8.2  Delaware
2  1978-01-01                7.1  Delaware
3  1979-01-01                7.0  Delaware
4  1980-01-01                7.5  Delaware
Unemployment/North Dakota_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate         state
0  1976-01-01                3.8  North Dakota
1  1977-01-01                4.4  North Dakota
2  1978-01-01                4.2  North Dakota
3  1979-01-01                4.2  North Dakota
4  1980-01-01                4.9  North Dakota
Unemployment/Colorado_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate     state
0  1976-01-01                6.0  Colorado
1  1977-01-01                6.3  Colorado
2  1978-01-01                5.6  Colorado
3  1979-01-01                4.6  Colorado
4  1980-01-01                5.8  Colorado
Unemployment/New Mexico_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate       state
0  1976-01-01                8.7  New Mexico
1  1977-01-01                7.8  New Mexico
2  1978-01-01                6.2  New Mexico
3  1979-01-01                6.7  New Mexico
4  1980-01-01                7.6  New Mexico
Unemployment/New Jersey_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate       state
0  1976-01-01               10.4  New Jersey
1  1977-01-01                9.3  New Jersey
2  1978-01-01                7.2  New Jersey
3  1979-01-01                6.9  New Jersey
4  1980-01-01                7.1  New Jersey
Unemployment/Illinois_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate     state
0  1976-01-01                6.5  Illinois
1  1977-01-01                6.2  Illinois
2  1978-01-01                6.0  Illinois
3  1979-01-01                5.6  Illinois
4  1980-01-01                8.2  Illinois
Unemployment/Wyoming_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate    state
0  1976-01-01                3.9  Wyoming
1  1977-01-01                3.3  Wyoming
2  1978-01-01                2.9  Wyoming
3  1979-01-01                2.5  Wyoming
4  1980-01-01                3.8  Wyoming
Unemployment/Alaska_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate   state
0  1976-01-01                7.6  Alaska
1  1977-01-01                9.8  Alaska
2  1978-01-01               10.7  Alaska
3  1979-01-01                9.1  Alaska
4  1980-01-01                9.5  Alaska
Unemployment/Pennsylvania_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate         state
0  1976-01-01                8.0  Pennsylvania
1  1977-01-01                7.7  Pennsylvania
2  1978-01-01                7.0  Pennsylvania
3  1979-01-01                7.0  Pennsylvania
4  1980-01-01                8.1  Pennsylvania
Unemployment/New York_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate     state
0  1976-01-01               10.2  New York
1  1977-01-01                9.2  New York
2  1978-01-01                7.7  New York
3  1979-01-01                7.1  New York
4  1980-01-01                7.4  New York
Unemployment/Maine_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate  state
0  1976-01-01                8.7  Maine
1  1977-01-01                8.4  Maine
2  1978-01-01                6.4  Maine
3  1979-01-01                6.6  Maine
4  1980-01-01                7.4  Maine
Unemployment/Oklahoma_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate     state
0  1976-01-01                5.6  Oklahoma
1  1977-01-01                4.8  Oklahoma
2  1978-01-01                3.3  Oklahoma
3  1979-01-01                3.1  Oklahoma
4  1980-01-01                4.1  Oklahoma
Unemployment/Arkansas_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate     state
0  1976-01-01                6.9  Arkansas
1  1977-01-01                6.5  Arkansas
2  1978-01-01                6.2  Arkansas
3  1979-01-01                6.3  Arkansas
4  1980-01-01                7.5  Arkansas
Unemployment/District of Colombia_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate                 state
0  1976-01-01                8.7  District of Colombia
1  1977-01-01                8.6  District of Colombia
2  1978-01-01                7.8  District of Colombia
3  1979-01-01                6.9  District of Colombia
4  1980-01-01                7.4  District of Colombia
Unemployment/North Carolina_Unemployment_Rate_1976_2020.csv
         DATE  unemployment_rate           state
0  1976-01-01                6.2  North Carolina
1  1977-01-01                5.9  North Carolina
2  1978-01-01                4.6  North Carolina
3  1979-01-01                4.8  North Carolina
4  1980-01-01                6.4  North Carolina

    unemployment_rate     state  year
0            7.786562  National  1976
1            7.132505  National  1977
2            6.134198  National  1978
3            5.923827  National  1979
4            7.255717  National  1980
5            7.741281  National  1981
6            9.860857  National  1982
7            9.780473  National  1983
8            7.637412  National  1984
9            7.304109  National  1985
10           7.096872  National  1986
11           6.297189  National  1987
12           5.589161  National  1988
13           5.340558  National  1989
14           5.672628  National  1990
15           6.927372  National  1991
16           7.607437  National  1992
17           7.025515  National  1993
18           6.168805  National  1994
19           5.643885  National  1995
20           5.457434  National  1996
21           4.996276  National  1997
22           4.550108  National  1998
23           4.253037  National  1999
24           4.020985  National  2000
25           4.786689  National  2001
26           5.851715  National  2002
27           6.061592  National  2003
28           5.597952  National  2004
29           5.143966  National  2005
30           4.688935  National  2006
31           4.675080  National  2007
32           5.847526  National  2008
33           9.377906  National  2009
34           9.768028  National  2010
35           9.066351  National  2011
36           8.165597  National  2012
37           7.485224  National  2013
38           6.255356  National  2014
39           5.366365  National  2015
40           4.933476  National  2016
41           4.404787  National  2017
42           3.937875  National  2018
43           3.718367  National  2019
44           8.129782  National  2020
45           8.900000    Nevada  1976
46           6.800000    Nevada  1977
47           4.400000    Nevada  1978
48           4.900000    Nevada  1979
49           6.300000    Nevada  1980
50           7.300000    Nevada  1981
51          10.100000    Nevada  1982
52           9.800000    Nevada  1983
53           7.700000    Nevada  1984
54           7.500000    Nevada  1985
55           6.300000    Nevada  1986
56           6.200000    Nevada  1987
57           5.200000    Nevada  1988
58           4.700000    Nevada  1989
59           4.700000    Nevada  1990

In [34]:
os.listdir("Unemployment/")

['Nevada_Unemployment_Rate_1976_2020.csv',
 '._Nevada_Unemployment_Rate_1976_2020.csv',
 'Ohio_Unemployment_Rate_1976_2020.csv',
 '._Ohio_Unemployment_Rate_1976_2020.csv',
 'Louisiana_Unemployment_Rate_1976_2020.csv',
 '._Louisiana_Unemployment_Rate_1976_2020.csv',
 'Wisconsin_Unemployment_Rate_1976_2020.csv',
 '._Wisconsin_Unemployment_Rate_1976_2020.csv',
 'Montana_Unemployment_Rate_1976_2020.csv',
 '._Montana_Unemployment_Rate_1976_2020.csv',
 '._Missouri_Unemployment_Rate_1976-2020.csv',
 'California_Unemployment_Rate_1976_2020.csv',
 '._California_Unemployment_Rate_1976_2020.csv',
 'Idaho_Unemployment_Rate_1976_2020.csv',
 '._Idaho_Unemployment_Rate_1976_2020.csv',
 '._District of Colombia_Unemployment_Rate_1976_2020.csv',
 'New Hampshire_Unemployment_Rate_1976_2020.csv',
 '._South Carolina_Unemployment_Rate_1976_2020.csv',
 'South Dakota_Unemployment_Rate_1976_2020.csv',
 '.DS_Store',
 '._.DS_Store',
 'Alabama_Unemployment_Rate_1976_2020.csv',
 '._Alabama_Unemployment_Rate_1976_2020.csv',
 'Rhode Island_Unemployment_Rate_1976_2020.csv',
 '._Rhode Island_Unemployment_Rate_1976_2020.csv',
 'Tennessee_Unemployment_Rate_1976_2020.csv',
 '._Tennessee_Unemployment_Rate_1976_2020.csv',
 'Hawaii_Unemployment_Rate_1976_2020.csv',
 '._Hawaii_Unemployment_Rate_1976_2020.csv',
 'Minnesota_Unemployment_Rate_1976_2020.csv',
 '._Minnesota_Unemployment_Rate_1976_2020.csv',
 'Massachusetts_Unemployment_Rate_1976_2020.csv',
 '._Massachusetts_Unemployment_Rate_1976_2020.csv',
 'Washington_Unemployment_Rate_1976_2020.csv',
 '._Washington_Unemployment_Rate_1976_2020.csv',
 'Indiana_Unemployment_Rate_1976_2020.csv',
 '._Indiana_Unemployment_Rate_1976_2020.csv',
 'Iowa_Unemployment_Rate_1976_2020.csv',
 '._Iowa_Unemployment_Rate_1976_2020.csv',
 'Mississippi_Unemployment_Rate_1976_2020.csv',
 '._Mississippi_Unemployment_Rate_1976_2020.csv',
 'Vermont_Unemployment_Rate_1976_2020.csv',
 '._Vermont_Unemployment_Rate_1976_2020.csv',
 'West Virginia_Unemployment_Rate_1976_2020.csv',
 'South Carolina_Unemployment_Rate_1976_2020.csv',
 'Kentucky_Unemployment_Rate_1976_2020.csv',
 '._Kentucky_Unemployment_Rate_1976_2020.csv',
 'Connecticut_Unemployment_Rate_1976_2020.csv',
 '._Connecticut_Unemployment_Rate_1976_2020.csv',
 '._West Virginia_Unemployment_Rate_1976_2020.csv',
 'Missouri_Unemployment_Rate_1976-2020.csv',
 'Nebraska_Unemployment_Rate_1976_2020.csv',
 '._Nebraska_Unemployment_Rate_1976_2020.csv',
 'Florida_Unemployment_Rate_1976_2020.csv',
 '._Florida_Unemployment_Rate_1976_2020.csv',
 'Utah_Unemployment_Rate_1976_2020.csv',
 '._Utah_Unemployment_Rate_1976_2020.csv',
 'Oregon_Unemployment_Rate_1976_2020.csv',
 '._Oregon_Unemployment_Rate_1976_2020.csv',
 'Arizona_Unemployment_Rate_1976_2020.csv',
 '._Arizona_Unemployment_Rate_1976_2020.csv',
 'Texas_Unemployment_Rate_1976_2020.csv',
 '._Texas_Unemployment_Rate_1976_2020.csv',
 'Michigan_Unemployment_Rate_1976_2020.csv',
 '._Michigan_Unemployment_Rate_1976_2020.csv',
 'Virginia_Unemployment_Rate_1976_2020.csv',
 '._Virginia_Unemployment_Rate_1976_2020.csv',
 'Kansas_Unemployment_Rate_1976_2020.csv',
 '._Kansas_Unemployment_Rate_1976_2020.csv',
 '.ipynb_checkpoints',
 'Maryland_Unemployment_Rate_1976_2020.csv',
 '._Maryland_Unemployment_Rate_1976_2020.csv',
 'Georgia_Unemployment_Rate_1976_2020.csv',
 '._Georgia_Unemployment_Rate_1976_2020.csv',
 'Delaware_Unemployment_Rate_1976_2020.csv',
 '._Delaware_Unemployment_Rate_1976_2020.csv',
 '._North Carolina_Unemployment_Rate_1976_2020.csv',
 'North Dakota_Unemployment_Rate_1976_2020.csv',
 'Colorado_Unemployment_Rate_1976_2020.csv',
 '._Colorado_Unemployment_Rate_1976_2020.csv',
 'New Mexico_Unemployment_Rate_1976_2020.csv',
 'New Jersey_Unemployment_Rate_1976_2020.csv',
 'Illinois_Unemployment_Rate_1976_2020.csv',
 '._Illinois_Unemployment_Rate_1976_2020.csv',
 'Wyoming_Unemployment_Rate_1976_2020.csv',
 '._Wyoming_Unemployment_Rate_1976_2020.csv',
 'Alaska_Unemployment_Rate_1976_2020.csv',
 '._Alaska_Unemployment_Rate_1976_2020.csv',
 '._New York_Unemployment_Rate_1976_2020.csv',
 '._New Jersey_Unemployment_Rate_1976_2020.csv',
 '._New Mexico_Unemployment_Rate_1976_2020.csv',
 'Pennsylvania_Unemployment_Rate_1976_2020.csv',
 '._Pennsylvania_Unemployment_Rate_1976_2020.csv',
 'New York_Unemployment_Rate_1976_2020.csv',
 'Maine_Unemployment_Rate_1976_2020.csv',
 '._Maine_Unemployment_Rate_1976_2020.csv',
 'Oklahoma_Unemployment_Rate_1976_2020.csv',
 '._Oklahoma_Unemployment_Rate_1976_2020.csv',
 'Arkansas_Unemployment_Rate_1976_2020.csv',
 '._Arkansas_Unemployment_Rate_1976_2020.csv',
 'District of Colombia_Unemployment_Rate_1976_2020.csv',
 '._New Hampshire_Unemployment_Rate_1976_2020.csv',
 'North Carolina_Unemployment_Rate_1976_2020.csv',
 '._North Dakota_Unemployment_Rate_1976_2020.csv',
 '._South Dakota_Unemployment_Rate_1976_2020.csv']

In [35]:
unemployment_df['state'].value_counts()

New Mexico              45
Wyoming                 45
Kentucky                45
National                45
Arizona                 45
North Dakota            45
District of Colombia    45
Wisconsin               45
New Hampshire           45
Maryland                45
Oklahoma                45
Washington              45
Illinois                45
New York                45
New Jersey              45
Florida                 45
Missouri                45
North Carolina          45
Maine                   45
California              45
Connecticut             45
Pennsylvania            45
Kansas                  45
Alaska                  45
Georgia                 45
Iowa                    45
Hawaii                  45
Ohio                    45
Montana                 45
Idaho                   45
South Dakota            45
Alabama                 45
Virginia                45
West Virginia           45
Rhode Island            45
Arkansas                45
Vermont                 45
Minnesota               45
Delaware                45
Tennessee               45
Nevada                  45
Colorado                45
Texas                   45
Massachusetts           45
Mississippi             45
Utah                    45
Nebraska                45
Michigan                45
Oregon                  45
Louisiana               45
Indiana                 45
South Carolina          45
Name: state, dtype: int64

In [38]:
unemployment_df["state"].nunique()

52

In [39]:
unemployment_df.to_csv('unemployment_rate.csv', index = False, index_label=False)